html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}
header {
	background-image: url(Images/photo-1629872874038-b1d600221640\ \(1\).jpeg);
	background-size: cover;
	background-position-x: center;
	padding: 2em 6em;
}
nav {
	display: flex;
	justify-content: space-between;
}
nav a {
	text-decoration: none;
	font-size: 1.5em;
	color: white;
}
nav div a:hover {
	cursor: pointer;
	color: rgb(197, 197, 197);
}

nav a:not(:last-child) {
	margin-right: 1em;
}
.hero {
	display: flex;
	justify-content: flex-end;
	padding: 200px;
}
.hero h1 {
	color: white;
	font-size: 8em;
}
.hero div {
	width: 50%;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.hero button {
	padding: 10px 30px;
	border-radius: 20px;
	border-style: none;
	text-transform: uppercase;
	color: black;
	transition: .3s ease-in;
}
.hero button:hover {
	transform: scale(1.2);
	cursor: pointer;
}
